<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3SuWJaoiaYMTaGv9FwByyg9CZukAt84gZzQ&s">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">TODO LIST</h1>
      <p class="mb-8 leading-relaxed">Todo App ek simple aur useful application hai jo users ko apne rozmarra ke kaam manage karne mein madad deti hai. Is app ke zariye koi bhi user naye tasks add kar sakta hai, unhein complete mark kar sakta hai, ya delete kar sakta hai. Maine is app ko Angular aur Tailwind CSS ka use karke develop kiya hai, jisme Angular ke component-based structure, data binding, aur routing ka istemal kiya gaya hai. Saath hi, Tailwind CSS ne is project ko responsive aur visually appealing banaya. Ye app productivity barhane ke liye banayi gayi hai aur meri frontend development skills ko strong karne mein madadgar rahi hai.</p>
      <div class="flex justify-center">
        <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
        <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button</button>
      </div>
    </div>
  </div>
</section>